<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div class="ui grid container">
        <div class="row">
            <div class="column">
                <!-- <h1 class="ui header">Buttons</h1>
                <a class="ui button" tabindex="0">
                    Default
                </a>
                <a class="ui primary button" tabindex="0">
                    Primary
                </a>
                <a class="ui basic button" tabindex="0">
                    Basic
                </a>
                <a class="ui positive button" tabindex="0">
                    Success
                </a>
                <a class="ui negative button" tabindex="0">
                    Error
                </a> -->

                <form class="ui form" action="/submitform" method="post">
                    <!-- <h4 class="ui dividing header">Shipping Information</h4> -->
                    <div class="field">
                        <label>Number</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="number" name="number" placeholder="1">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="field">
                          <label>Billing Address</label>
                          <div class="fields">
                            <div class="six wide field">
                              <input type="text" name="shipping[address]" placeholder="Street Address">
                            </div>
                            <div class="four wide field">
                              <input type="text" name="shipping[address-2]" placeholder="Apt #">
                            </div>
                          </div>
                        </div> -->
                    <div class="two fields">
                        <div class="field">
                            <label>Race</label>
                            <select class="ui fluid dropdown" name="race">
                                <option value=""></option>
                                <option value="White">White</option>
                                <option value="Black or African American">Black or African American</option>
                                <option value="American Indian and Alaska Native">American Indian and Alaska Native</option>
                                <option value="Asian">Asian</option>
                                <option value="Native Hawaiian and Other Pacific Islander">Native Hawaiian and Other Pacific Islander</option>
                                <option value="Two or more races">Two or more races</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Ethnicity</label>
                            <select class="ui fluid dropdown" name="ethnicity">
                                <option value=""></option>
                                <option value="Non-Hispanic">Non-Hispanic</option>
                                <option value="Hispanic">Hispanic</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label>Age</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="number" name="age" placeholder="50">
                            </div>
                        </div>
                    </div>

                    <input type="submit">
                    <!-- <div class="ui button" tabindex="0">Submit Order</div> -->
                </form>
            </div>
        </div>
    </div>

</body>

</html>