{% extends "layout.html" %}

{% block content %}
<!-- <h1><a href="/patientslist">View/add patient</a>
    <i class="angle double right icon"></i>
</h1>
<h1><a href="/providerslist">View/add provider</a>
    <i class="angle double right icon"></i>
</h1>

<div class="index-container">
    <div class="index-card">
        <h2>Patient Management</h2>
        <p>View and add patient information.</p>
        <a href="/patientslist">View/Add Patients</a>
    </div>
    
    <div class="index-card">
        <h2>Provider Management</h2>
        <p>View and add provider information.</p>
        <a href="/providerslist">View/Add Providers</a>
    </div>
</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <style>
        /* Centering the content */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .index-container {
            text-align: center;
        }

        .index-card {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <div class="index-container">
        <h1>Belief study home</h1>
        <div class="index-card">
            <h2><a href="/patientslist">Patient Management</a></h2>
            <p>View/Add Patients</p>
        </div>
        
        <div class="index-card">
            <h2><a href="/providerslist">Provider Management</a></h2>
            <p>View/Add Providers</p>
        </div>

        <div class="index-card">
            <h2><a href="/participantslist">Participant Management</a></h2>
            <p>View/Create Participants</p>
        </div>

        <div class="index-card">
            <h2><a href="/visitslist">Visit Management</a></h2>
            <p>Create visit for participant</p>
        </div>

        <div class="index-card">
            <h2><a href="/experimentslist">Experiment Management</a></h2>
            <p>Create experiment for visit/Start new experiment</p>
        </div>

    </div>
</body>
</html>


{% endblock %}