{% extends "layout.html" %}

{% block content %}
<h1><a href="/home">Home</a>
    <i class="angle double right icon"></i>
</h1>

<h2>Visits in database</h2>
<table class="ui striped table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Participant ID</th>
            <th>Date</th>
            <th>Next procedure</th>
        </tr>
    </thead>
    <tbody>
        {% for visit in visits %}
        <tr>
            <td>{{ visit.id }}</td>
            <td>{{ visit.participant_id }}</td>
            <td>{{ visit.date }}</td>
            <td>{{ visit.next_procedure }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Create a new visit for participant</h2>
<form class="ui form" action="/submit-visit" method="POST">
    <h3>Participants in database</h3>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Select</th>
                <th>ID</th>
                <th>Type</th>
                <th>Patient ID</th>
                <th>Provider ID</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr>
                <td><input type="radio" name="selected_participant" value="{{ participant.id }}"></td>
                <td>{{ participant.id }}</td>
                <td>{{ participant.type }}</td>
                <td>{{ participant.patient_id }}</td>
                <td>{{ participant.provider_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="field">
        <div class="two fields">
            <div class="field">
                <label>Date</label>
                <input type="date" name="visit_date" placeholder="Select a date">
            </div>
        </div>
    </div>

    <div class="field">
        <div class="two fields">
            <div class="field">
                <label>Next surgery or procedure</label>
                <div class="ui fluid icon input">
                    <input type="text" placeholder="" name="next_surgery">
                    <i class="user md icon"></i>
                </div>
            </div>
        </div>
    </div>

    <input type="submit" value="Create visit">
</form>



{% endblock %}